.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
database/*.sqlite
database/*.sqlite-wal
database/*.sqlite-shm
database/backups
.env
.env.*
!.env.example
tests
.phpunit.cache
.phpunit.result.cache
